@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .img-1 {
    width: 150px;
    height: 118.84px;
    margin: 2px 2px;
  }
} /*Iphone 8 */

@media (min-width: 320px) and (max-width: 480px) {
  .just-for-color {
    width: 100%;
    height: 640px;
  }

  .background-bakery {
    width: 100%;
    height: 640px;
    object-fit: cover;
    background-size: 375px 812px;
  }

  .main-svg-logo {
    width: 110px;
    height: auto;
  }

  .another-svg {
    width: 38px;
  }

  .logo-bottom {
    padding-left: 17px;
  }

  .container-title-text {
    width: auto;
    height: 90px;
  }

  .text-title {
    height: 8px;
    font-size: 26pt;
  }

  .text-title-2 {
    margin-top: 20px;
  }

  .text-sub {
    width: auto;
    font-size: 9pt;
    margin-top: 27px;
  }

  .container-text {
    width: 210px;
  }

  .about-text {
    font-size: 10pt;
  }

  .title-products-container {
    width: 100%;
    height: 150px;
  }

  .title {
    font-size: 23pt;
  }

  .sub-title {
    font-size: 8pt;
  }

  .index-products-container {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .img-1 {
    width: 170px;
    height: auto;
    margin: 1px 1px;
  }

  .bottom-bar-container {
    width: 100%;
    height: 30px;
  }

  .bottom-bar-container svg {
    width: 25px;
    height: auto;
  }

  #myModal {
    max-width: 100%;
  }

  .mySlides {
    flex-direction: column;
    max-height: 100vh;
  }

  .mySlides > img {
    max-width: 99%;
  }

  .mySlides > .font-size {
    font-size: 18pt;
  }

  .controller-container {
    max-width: 100%;
  }

  .controller-container > img.demo {
    width: 24.5%;
    height: auto;
  }
}
